# This repo builds a Rubygem. No lock file then.
Gemfile.lock

# Yard is used to generate doc. Don't commit generated yard files.
/.yardoc/
/doc/

# SimpleCov is used to generate code coverage reports. Don't commit generated coverage files.
/coverage/

# Tests temporary artefacts
/tmp
